<div class="container py-5">
    
    <input type="text" [(ngModel)]='term' class="form-control bg-transparent w-50 m-auto my-5">

    <div class="row">
        <div *ngFor="let tv of nowTv|search:term " class="col-md-3 py-2 text-center position-relative">
            <img [routerLink]="['/details', tv.id]" [src]="imgPrefix+tv.poster_path" class="w-100" alt="">
            <h5 class="mt-2">{{tv.name}}</h5>
            <span class="demo">
                <span>{{tv.vote_average}}</span>
            </span>
        </div>
    </div>
</div>
